.closet {
  /* padding-top: 54.75px; */
  background-color: white;
}


.closet .top-row-frame {
  /* border-bottom: 1.346px solid var(--colors-font, #454c4e); */
  border: none;
  padding: 0px 37.25px 0px 37.25px;
  display: flex;
  justify-content: space-between; /* Align items at each end of the container */
  align-items: center;
  border-radius: 0px 0px 17.95px 17.95px;
  background: var(--topbar, #ffe7df);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 60px;
}

.closet .top-row-frame .my-closet-title {
  color: var(--colors-font, #454c4e);
  font-family: Poppins;
  font-size: 28.72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.closet .top-row-frame .add-button {
  height: 33.656px;
  align-items: center;
  border-radius: 12px;
  border: none;
  background: #ffbda5;
  text-align: center;
  color: var(--colors-font, #454c4e);
  font-family: Poppins;
  font-size: 14.36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  filter: drop-shadow(
    0px 1.7949885129928589px 1.7949885129928589px rgba(0, 0, 0, 0.25)
  );
}

.closet .search-bar-frame {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.closet .search-bar-frame .input-bar {
  width: 318.162px;
  height: 42.631px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #96A9AF;
  background: var(--Pink-background, #fffdfd);
  display: flex;
  align-items: center;
}

.closet .search-bar-frame .input-bar .input-bar-selection-part {
  height: 30.964px;
  margin-left: 10px; /* Add a 10px left margin */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8.975px;
}

.closet .search-bar-frame .input-bar .input-bar-selection-part .selected-choice-button {
  background: #ffbda5;
  align-items: center;
  border-radius: 12px;
  /* border: 1.795px solid var(--colors-font, #454c4e); */
  border: none;
  text-align: center;
  color: var(--colors-font, #454c4e);
  font-family: Poppins;
  font-size: 14.36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  line-height: 20px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  filter: drop-shadow(
    0px 1.7949885129928589px 1.7949885129928589px rgba(0, 0, 0, 0.25)
  );
  gap: 8px;
}

.closet .type-event {
  padding: 0px 173.216px 0px 37.25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4.487px;
}

.closet .type-event .type-event-button {
  display: flex;
  height: 35.002px;
  flex-direction: column;
  justify-content: center;
  color: var(--colors-font, #454c4e);
  font-family: Poppins;
  font-size: 17.95px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
  border: none;
  appearance: none; /* Remove default appearance */
  border: none; /* Remove default border */
  background: none; /* Remove default background */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  outline: none; /* Remove outline on focus (use with caution) */
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove text decoration */
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.closet .selection-fields-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  height: 35px;
  margin-left: 37.25px;
  margin-right: 37.25px;
  display: flex;
  align-items: center; /* Vertically center the content */
  /* Remove scrollbar for WebKit-based browsers (e.g., Chrome) */
  &::-webkit-scrollbar {
    display: none;
  }
}

.closet .selection-fields-container .selection-fields {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4.487px;
  margin-left: 5px;
}

.closet .selection-fields-container .selection-fields .unselected-choice-button {
  align-items: center;
  border-radius: 12px;
  /* border: 1.795px solid var(--colors-font, #454c4e); */
  border: none;
  text-align: center;
  background: white;
  color: var(--colors-font, #454c4e);
  font-family: Poppins;
  font-size: 14.36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  filter: drop-shadow(
    0px 1.7949885129928589px 1.7949885129928589px rgba(0, 0, 0, 0.25)
  );
  gap: 8px;
}

.closet .selection-fields-container .selection-fields .selected-choice-button {
  align-items: center;
  border-radius: 12px;
  /* border: 1.795px solid var(--colors-font, #454c4e); */
  border: none;
  text-align: center;

  color: var(--colors-font, #454c4e);
  font-family: Poppins;
  font-size: 14.36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  background: #ffbda5;
  filter: none;
  box-shadow: inset 0px 1.7949885129928589px 1.7949885129928589px rgba(0, 0, 0, 0.25);
  gap: 8px;
}

.closet .all-clothes-container {
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-width: none;
  max-height:700px;
  margin-left: 43.25px;
  /* margin-right: 37.25px; */
  display: flex;
  align-items: center;
  filter: drop-shadow(
    0px 1.7949885129928589px 1.7949885129928589px rgba(0, 0, 0, 0.25)
  );
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 20px;
  gap: 10px;
}

.closet .all-clothes-container .cloth-container {
  position: relative;
  width: 148.574px;
  height: 179.499px;
  border-radius: 12px;
  border: 1.795px solid var(--colors-font, #fff3ef);
  background: var(--Pink-background, #fffdfd);
}

.closet .all-clothes-container .cloth-container  .cloth-image {
  width: 134.399px;
  height: 135.021px;
  padding: 33.3px 9.04px 11.2px 9.04px;
}

.closet .all-clothes-container .cloth-container .cloth-to-outfit {
  position: absolute; /* Set the button as absolutely positioned */
  top: 7px; /* Position it at the top */
  right: 0; /* Position it at the right */
  border: none;
  background: transparent;
}
