.footbar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 64.157px;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: var(--ComponentAndTab, #fff3ef);
}

.button-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 59.235px;
}
