.weather {
  width: 100%;
  height: 87.954px;
  background-color: #ffe7df;
}

/* .bar-calendar-container {
  display: flex;
  width: 100%;
  padding: 10px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 17.95px 17.95px;
  background: var(--topbar, #FFE7DF);
  box-shadow: 0px 1.8px 1.8px 0px rgba(0, 0, 0, 0.25);
}

.bar-calendar {
  width: 95%;
  height: 76px;
  flex-shrink: 0;
  border-radius: 10.77px;
  background: #fff;
} */

.add-activity-button {
  width: 160.793px;
  height: 34.105px;
  flex-shrink: 0;
  border-radius: 8.975px;
  background: var(--ComponentAndTab, #fff3ef);
  border: none;
  color: #454c4e;
  font-family: Poppins;
  font-size: 17.95px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  filter: drop-shadow(
    0px 1.7949886322021484px 1.7949886322021484px rgba(0, 0, 0, 0.25)
  );
}

.calendarIcon {
  position: absolute;
  left: 330px;
  top: 40px;
  width: 60px;
  height: 60px;
}

.weatherIcon {
  position: absolute;
  left: 85px;
  top: 40px;
  width: 60px;
  height: 60px;
}

.weatherIconNew {
  position: absolute;
  left: 90px;
  top: 55px;
  width: 35px;
  height: 35px;
}

.weatherDateInfo {
  display: flex;
  width: 124.794px;
  height: 69.59px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.dateInfo {
  position: absolute;
  left: 15px;
  top: 30px;
  color: var(--WeatherColor, #454c4e);
  font-family: Poppins;
  font-size: 14.36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.temperature {
  position: absolute;
  left: 15px;
  top: 50px;
  color: #454c4e;
  font-family: Poppins;
  font-size: 28.72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.seperator {
  position: absolute;
  left: 30px;
  top: 50px;
  width: 2.244px;
  height: 31.412px;
  background: #454c4e;
}

.weatherInfo {
  display: flex;
  align-items: center;
  gap: 13.014px;
}

.css-1q04gal-MuiDateCalendar-root {
  background-color: #ffff;
  border-radius: 9px 9px 0 0;
}
